%geo-500 {
    font-family: 'Geometria-Medium', sans-serif;
    font-weight: 500;
}
%geo-300 {
    font-family: 'Geometria-Light', sans-serif;
    font-weight: 300;
}
%geo-700 {
    font-family: 'Geometria-Bold', sans-serif;
    font-weight: 700;
}